In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("restaurant_data.csv")

In [4]:
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         9551 non-null   int64
 1   Restaurant Name       9551 non-null   object
 2   Country Code          9551 non-null   int64
 3   City                  9551 non-null   object
 4   Address               9551 non-null   object
 5   Locality              9551 non-null   object
 6   Locality Verbose      9551 non-null   object
 7   Longitude             9551 non-null   float64
 8   Latitude              9551 non-null   float64
 9   Cuisines              9542 non-null   object
 10  Average Cost for two  9551 non-null   int64
 11  Currency              9551 non-null   object
 12  Has Table booking     9551 non-null   object
 13  Has Online delivery   9551 non-null   object
 14  Is delivering now     9551 non-null   object
 15  Switch to order menu  9551 non-null   object
 16  Price range           9551 non-null   int64
 17  Aggregate rating      9551 non-null   float64
 18  Rating color          9551 non-null   object
 19  Rating text           9551 non-null   object
 20  Votes                 9551 non-null   int64
dtypes: float64(3), int64(5), object(13)
memory usage: 1.5+ MB

In [5]:
city_restaurant_count = df['City'].value_counts()
top_city = city_restaurant_count.idxmax()
print("City with the highest number of restaurants:", top_city)

City with the highest number of restaurants: New Delhi

In [6]:
city_avg_rating = df.groupby('City')['Aggregate rating'].mean().sort_values(ascending=False)
print(city_avg_rating)

City
Inner City          4.900000
Quezon City         4.800000
Makati City         4.650000
Pasig City          4.633333
Mandaluyong City    4.625000
                      ...
New Delhi           2.438845
Montville           2.400000
Mc Millan           2.400000
Noida               2.036204
Faridabad           1.866932
Name: Aggregate rating, Length: 141, dtype: float64

In [7]:
top_rated_city = city_avg_rating.idxmax()
highest_avg_rating = city_avg_rating.max()

print(f"City with the highest average rating: {top_rated_city} ({highest_avg_rating:.2f})")

City with the highest average rating: Inner City (4.90)

In [9]:
filtered_df = df[df['Aggregate rating'] > 0]
city_avg_rating = filtered_df.groupby('City')['Aggregate rating'].mean().sort_values(ascending=False)